{
    "sentences": 
    [
    "Please discuss with me what the topic of this speech should be.  We need to decide it together.",
    "\"GNU\" is pronounced as one syllable with a hard g, like \"grew\" but with n instead of r.",
    "I absolutely refuse to have a break in the middle of my speech. Once I start, I will go straight through.",
    "I usually decline to participate in \"open source\" or \"Linux\" events.  See http://www.gnu.org/gnu/gnu-linux-faq.html for why it is incorrect to refer to the operating system as \"Linux\".",
    "\"Open source\" is the slogan of a position that was formulated as a reaction against the free software movement.  Those who support its views have a right to promote them, but I disagree with them and I want to promote the ideals of free software.  See http://www.gnu.org/philosophy/free-software-for-freedom.html for more explanation of the difference.  However, I will agree to participate in events labeled \"Free Software and Open Source\", provided that my speech is not the principal draw of the event.",
    "A supply of tea with milk and sugar would be nice.  If it is tea I really like, I like it without milk and sugar.  With milk and sugar, any kind of tea is fine.  I always bring tea bags with me, so if we use my tea bags, I will certainly like that tea without milk or sugar.",
    "If I am quite sleepy, I would like two cans or small bottles of non-diet Pepsi.  (I dislike the taste of coke, and of all diet soda; also, there is an international boycott of the Coca Cola company for killing union organizers in Colombia and Guatemala; see killercoke.org.)  However, if I am not very sleepy, I won't want Pepsi, because it is better if I don't drink so much sugar.",
    "If my speech is part of a pre-existing larger event that I have agreed to participate in, I can't impose such conditions for the whole event.  However, if banners will be on display next to me while I am speaking, that is rather obnoxious; if they advertise organizations that I disapprove of on ethical grounds (which is not unlikely) I would want to take them down, cover them up, or turn them off during my speech.",
    "The GNU Project constantly struggles against two widespread mistakes that undermine the effectiveness of our work: calling our work \"open source\", and calling the GNU operating system \"Linux\".  Another very bad mistake is using the term \"intellectual property\".",
    "If you have handled these issues well, nobody who looks at your material will get the impression that I work on \"open source\", or that I support \"open source\", or that my work is \"part of Linux\", or that I participated in the \"development of Linux\", or that GNU is the name of \"a collection of tools\".",
    "Please do not mention non-free GNU/Linux distros (for instance, Ubuntu) in the publicity for the event.",
    "Please ask me about *each* activity you would like me to perform.",
    "Some hosts even feel that they ought to try to fill up my time as a matter of good hospitality.  Alas, it's not that way for me.",
    "When you are making a recording, please *make sure* to tell me when the tape needs to be changed.  I will pause.  Please help me help you make the recording complete.",
    "Please don't transcode recordings from one format to another before sending to us, unless they have such a high bit rate that files are impractically large.  If you do need to encode or transcode, please convert audio to 64Kbps mono Ogg Vorbis (or you could try Ogg Speex), and convert video to Matroska VP8 or to Ogg Theora with video quality set to 5 or more.  If you need advice for how to do this, please ask audio-video at gnu.org.",
    "Many organizations ask to buy the tickets and send them to me.  I do not object to that method in principle, but it typically assumes the trip goes to just one city.  That approach is hard to use for a multi-destination trip, unless you want to pay for the whole trip.  So normally I buy the tickets myself and get reimbursed by the various places I am visiting.  For a multi-destination trip, we will need to agree on what parts of the travel expenses you should cover.",
    "If you buy bus or train tickets for me, do not give my name!  Big Brother has no right to know where I travel, or where you travel, or where anyone travels.",
    "I am willing to stay in a hotel if there is no other way.  Please book the hotel for me and arrange to pay the hotel directly.  But please DON'T make a hotel reservation until we have fully explored other options.  If there is anyone who wants to offer a spare couch, I would much rather stay there than in a hotel (provided I have a door I can close, in order to have some privacy).  Staying with someone is more fun for me than a hotel, and it would also save you money.",
    "My distaste for a hotel is less if it does not know my name, but staying in a house with people is normally more enjoyable than staying alone.",
    "Above 72 fahrenheit (22 centigrade) I find sleeping quite difficult.  (If the air is dry, I can stand 23 degrees.)  A little above that temperature, a strong electric fan blowing on me enables me to sleep.  More than 3 degrees above that temperature, I need air conditioning to sleep.",
    "If you are planning for me to stay in a hotel, DO NOT take for granted that the hotel has air conditioning--or that it will be working when I arrive.  Some hotels shut off their air conditioning systems for part of the year.  They often think it is unnecessary in seasons when the temperature is usually in the mid 20s--and they follow their schedule like stupid robots even if there is a heat wave.",
    "So you must explicitly ask them: \"Do you have air conditioning?  Will it be functioning for the dates XXX-YYY?\"",
    "Or look for a hotel that has a real cooling unit in the room, not a central system.  Those tend to work well enough, if they are not broken.",
    "I like cats if they are friendly, but they are not good for me; I am somewhat allergic to them.  This allergy makes my face itch and my eyes water.  So the bed, and the room I will usually be staying in, need to be clean of cat hair.  However, it is no problem if there is a cat elsewhere in the house--I might even enjoy it if the cat is friendly.",
    "Dogs that bark angrily and/or jump up on me frighten me, unless they are small and cannot reach much above my knees.",
    "If you can find a host for me that has a friendly parrot, I will be very very glad.  If you can find someone who has a friendly parrot I can visit with, that will be nice too.",
    "DON'T buy a parrot figuring that it will be a fun surprise for me.  To acquire a parrot is a major decision: it is likely to outlive you.  If you don't know how to treat the parrot, it could be emotionally scarred and spend many decades feeling frightened and unhappy.  If you buy a captured wild parrot, you will promote a cruel and devastating practice, and the parrot will be emotionally scarred before you get it.  Meeting that sad animal is not an agreeable surprise.",
    "It is nice of you to want to be kind to me, but please don't offer help all the time.  In general I am used to managing life on my own; when I need help, I am not shy about asking.  So there is no need to offer to help me.  Moreover, being constantly offered help is actually quite distracting and tiresome.  So please, unless I am in grave immediate danger, please don't offer help.  The nicest thing you can do is help when I ask, and otherwise not worry about how I am doing.  Meanwhile, you can also ask me for help when you need it.",
    "One situation where I do not need help, let alone supervision, is in crossing streets. ",
    "If I am typing on my computer and it is time to do something else, please tell me.  Don't wait for me to \"finish working\" first, because you would wait forever. ",
    "I do not eat breakfast.  Please do not ask me any questions about what I will do breakfast.  Please just do not bring it up.",
    "If you get a bottle of wine, I will taste it, and if I like the taste, I will drink a little, perhaps a glass."
    ]
}
